/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}

h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  padding: 2rem 6rem;
  background: #4c5e97;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.4s ease-in-out;
}
button:hover {
  background: #27394e;
}
/* Global Styles */
// Nav Section with hero

.main-head {
  background: #131c27;
  color: white;
}

nav {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
}

#logo {
  flex: 2 1 40rem;
}
.hero {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.425), transparent),
    url(/img/landing-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h3 {
    padding: 5rem;
  }
}
// end of hero section

// benefits section
#location {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.425), transparent),
    url(/img/new-york-page.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: -2;
}
.location-head {
  width: 90%;
  margin: auto;
  h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
  }
  h3 {
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}
.moving-cloud-1 {
  z-index: -1;
  animation: cloudAnimation 3.5s infinite alternate;
}
.moving-cloud-2 {
  top: 15%;
  z-index: -2;
  opacity: 0.5;
}

@keyframes cloudAnimation {
  from {
    transform: translate(20%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

// Benefits section
.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  h3 {
    padding: 1rem;
  }
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  background-color: rgb(255, 255, 255);
  flex: 1 2 35rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
  h4,
  p {
    padding: 1rem;
    text-align: center;
  }
}
.cards img {
  height: 100px;
}
.card-icon {
  text-align: center;
  background: #27394e;
  padding: 3rem;
}
// contact
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url(/img/contact-mountain.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  color: white;
  border-radius: 20px;
  label {
    margin: 0rem 3rem;
  }
  button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  input {
    padding: 1rem 3rem;
  }
}
.form-head {
  text-align: center;
  padding: 4rem;
}
.email-form,
.name-form {
  padding: 3rem;
  text-align: center;
}

footer {
  color: white;
  background: rgba(19, 28, 39, 1);
  ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
  }
  h5 {
    flex: 1 1 40rem;
  }
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}

// media query
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }

  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  .location-head {
    h3 {
      -webkit-text-fill-color: #ffffff;
      background: #03234907;
    }
  }
  .cloud {
    height: 45rem;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
    top: 5%;
  }
  footer {
    text-align: center;
    h5 {
      padding-bottom: 3rem;
    }
  }
  .form-wrapper {
    width: 100%;
  }
}
